services:
  app:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  db:
      image: postgres:15
      environment:
        - POSTGRES_USER=nstoykov
        - POSTGRES_PASSWORD=nstoykov123
        - POSTGRES_DB=anymind_pos
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U nstoykov -d anymind_pos"]
        interval: 5s
        timeout: 5s
        retries: 5

volumes:
  postgres_data: